<!--ngFro-->
<h1>*ngFor Objs</h1>
<div *ngFor="let product of products">
  <img width="250" [src]="product.image" alt="image" />
  <h2>{{ product.price }}</h2>
  <p>{{ product.name }}</p>
</div>
<hr />

<!--ngFor-->
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }} {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<!--ngSwitch-->
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Keny'">La persona es Keny</p>
  <p *ngSwitchCase="'Carlos'">La persona es Carlos</p>
  <p *ngSwitchCase="'Camilo'">La persona es Camilo</p>
  <p *ngSwitchDefault>No hace match</p>
</div>

<!--ngIf-->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
  <p *ngIf="person.name === 'keny'">Soy Keny</p>
  <p *ngIf="person.name === 'Carlos' && person.age === 18; else myBlock">
  Soy Carlos
  </p>
<ng-template #myBlock>
  <p>Bloque Else</p>
</ng-template>

<!--ngModel-->
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>

<p>Nombre {{ person.name }}</p>
<input type="number" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ nameInput.valid }}</p>

<!--Event Biding-->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<button (click)="incrementarEdad()">Incrementar Edad</button>

<p>Edad {{ person.age }}</p>
<button (click)="incrementarEdad()">Incrementar Edad</button>
<button (click)="reducirEdad()">Reducir Edad</button>

<!--Los eventos se envian con el simbolo del dolar-->
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi itaque non
    accusamus officia libero ullam doloremque odit totam iure facilis ratione,
    tempora obcaecati praesentium, sint, magnam mollitia? Quis, odit aut! Lorem,
    ipsum dolor sit amet consectetur adipisicing elit. Nulla, et labore in
    obcaecati illum, consectetur doloremque rerum vel architecto quod itaque
    tempore nam ab ratione maxime nobis eos, sint enim!
  </p>
</div>
<!--String Interpoaltion-->
<p>Nombre:{{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>

<input type="text" [value]="person.name" />
<progress [value]="person.age" max="100"></progress>
<img [src]="person.avatar" width="100" />
<hr />

<h1>Hola Mundo</h1>
<h2>{{ "Hola mundo".repeat(5) }}</h2>

<p>{{ 3 + 3 }}</p>

<h3>Hola soy, {{ name }} y tengo {{ age }}</h3>
<img src="{{ img }}" alt="" />
